@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inject NavigationManager Navigation

<h3>Counter</h3>
<p>Counter Value: @counter</p>

@code {
    private HubConnection? hubConnection;
    private int counter = 0, cnt=0;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/matchhub"))
            .Build();
        hubConnection.On<int>("ReceiveLiveData", (liveData) =>
        {
            counter = liveData;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();

        update();
    }
    private async void update()
    {
        while(true)
        {
            cnt++;
            if(hubConnection is not null)
            {
                await hubConnection.SendAsync("SendLiveData", cnt);
            }
            await Task.Delay(1000);
        }
    }


    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
