@using Cricbuzz.Models

<div class="card live-score-card">
    <div class="card-header">
        <span class="badge bg-danger">LIVE</span> |
        <span class="match-type">@card?.EventName</span> |
        <span class="location">@card?.Venue</span>
    </div>

    <div class="card-body">
        <!-- Team 1 Score Section -->
        <div class="team-score">
            <div class="team">
                <span class="team-name">@card?.Team1</span>
                @if (card?.Team1Playing == true)
                {
                    <span>*</span>
                    <span class="wickets">(overs: @card?.Team1Overs)</span>
                }
            </div>

            @if (card?.Team1Playing == true || currData?.IsSecondInning == true)
            {
                <div class="score">
                    <span>@card?.Team1Score/@card?.Team1Wickets</span>
                </div>
            }
            else
            {
                <span>yet to bat</span>
            }
        </div>

        <!-- Team 2 Score Section -->
        <div class="team-score">
            <div class="team">
                <span class="team-name">@card?.Team2</span>
                @if (card?.Team1Playing == false)
                {
                    <span>*</span>
                    <span class="wickets">(overs: @card?.Team2Overs)</span>
                }
            </div>

            @if (card?.Team1Playing == false || currData?.IsSecondInning == true)
            {
                <div class="score">
                    <span>@card?.Team2Score/@card?.Team2Wickets</span>
                </div>
            }
            else
            {
                <span>yet to bat</span>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public BallByBallModel currData { get; set; }
    [Parameter] public CardModel card { get; set; }
}
